<ion-header>
    <ion-navbar>
        <ion-title>
            {{'documents' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <ion-item class="active">
            <h2>{{'drier_license' | translate}}</h2>
            <h3>{{'verified' | translate}}</h3>
            <ion-icon class="material-icons" item-end>check_circle</ion-icon>
        </ion-item>

        <ion-item>
            <h2>{{'goverment_id' | translate}}</h2>
            <h3>{{'not_verified_yet' | translate}}</h3>
            <ion-icon class="material-icons" item-end>check_circle</ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
