page-documents {
    .list {
        margin-top: 13px;

        .item {
            padding: 0;
            margin-bottom: 9px;
            padding: 20px 15px 18px 25px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

            .item-inner {
                padding: 0;
                align-items: flex-start;

                .label {
                    margin: 0;

                    h2 {
                        margin: 0;
                        font-size: 1.7rem;
                        font-weight: 600;
                        padding-bottom: 4px;
                    }

                    h3 {
                        font-weight: 500;
                        font-size: 1.1rem;
                        color: lighten($gray, 20%);
                    }

                    p {
                        font-size: .9rem;
                        color: darken($bg-color, 20%);
                        padding-top: 4px;
                    }

                }

                ion-icon {
                    &[item-end] {
                        margin: 0;
                        color: $theme-color;
                        font-size: 2.3rem;
                        position: relative;
                        top: 5px;
                        display: none;
                    }
                }

            }

            &.active {
                .item-inner ion-icon[item-end] {
                    display: block;
                }
            }
        }
    }
}
