page-login {
    img {
        display: block;

        &.logo {
            margin: 0 auto;
            width: 150px;
            margin-bottom: 20px;
            margin-top: 29px;
        }
    }

    .row {
        .col {
            small {
                font-size: 1.2rem;
                font-weight: 500;
            }

            strong {
                margin: 0 4px;
            }
        }
    }
}
