<ion-header>
    <ion-navbar>
        <ion-title>{{'sign_in' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-left padding-right padding-top text-center>
    <img src="assets/imgs/logo.png" class="logo">
    <div padding>
        <ion-list class="form" no-lines>
            <ion-item class="bg-light">
                <ion-label>{{'phone_number' | translate}}</ion-label>
                <ion-input type="text" value="+91 9876543210" text-end></ion-input>
            </ion-item>
            <ion-item class="bg-light">
                <ion-label>{{'password' | translate}}</ion-label>
                <ion-input class="password" type="password" value="*******" text-end></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button block full text-uppercase class="bg-green text-white btn round shadow-green" (click)="tabs()">{{'login' | translate}}</button>
    </div>

    <ion-row padding-left padding-right>
        <ion-col (click)="signupPage()"><small>{{'new_user' | translate}}<strong class="text-theme">{{'sign_up' | translate}}</strong></small></ion-col>
        <ion-col text-end><small>{{'forgot' | translate}}<strong class="text-theme">{{'password?' | translate}} </strong></small></ion-col>
    </ion-row>
</ion-content>
