<ion-header>
    <ion-navbar>
        <ion-title>
            <span>Sam Smith</span>
            <small (click)="riderinfo()" class="end" text-capitalize>{{'info' | translate}}</small>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map" class="mymap"></div>
    <ion-list class="form" no-lines>
        <ion-item class="from">
            <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
            <p class="d-flex"><span class="">{{'from' | translate}}</span> Newark Ave, Journla Square, Nj</p>
        </ion-item>
        <ion-item class="to">
            <ion-icon class="material-icons" item-start>fiber_manual_record</ion-icon>
            <p class="d-flex"><span class="">{{'to' | translate}}</span>Sip Ave, Journla Square, Nj</p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button ion-button block class="shadow-green btn" (click)="trip_end()">{{'double_tap_to_begin_trip_ming' | translate}}</button>
</ion-footer>
