page-earnings {
    .header {
        .list {
            margin-bottom: 0;

            .item {
                padding: 0;
                background: none;
                width: 260px;
                margin: 0 auto;

                p {
                    margin: 0 !important;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    width: 100px;

                    &.active {
                        color: $white;
                    }

                    &.disabled {
                        color: darken($theme-color, 20%);
                    }
                }

                .item-inner {
                    padding: 0;
                }

                .input-wrapper {
                    display: none;
                }

                ion-toggle {
                    .toggle-icon {
                        background: darken($theme-color, 17%) !important;

                        .toggle-inner {
                            background: $white !important;
                        }
                    }
                }
            }

        }
    }

    .container {
        background: darken($theme-color, 13%);
        display: block;
        padding-top: 20px;

        ion-scroll {
            height: 40px;
            white-space: nowrap;
            margin-bottom: 10px;

            .segment {
                justify-content: unset !important;
                display: block !important;
                border: none !important;
                width: 100%;

                .segment-button {
                    display: inline-block;
                    border: none !important;
                    height: auto !important;
                    opacity: .5 !important;
                    position: relative;
                    min-width: 100px;
                    color: lighten($theme-color, 0%);
                    padding: 0;
                    font-size: 1rem;

                    &.segment-activated {
                        color: lighten($theme-color, 100%);
                        opacity: 1 !important;
                    }

                    &:last-child {
                        margin-right: 100px;
                    }
                }
            }
        }

        .graph_container {
            //padding-top: 30px;
            align-items: flex-end !important;
            position: relative;
            padding: 30px 15px 8px 18px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: 42px;
                left: 0;
                width: 100%;
                height: 1px;
                background: darken($theme-color, 20%);
                opacity: .7;
            }

            &::before {
                top: 33px;
            }

            .graph_number {
                margin-right: 20px;
                position: relative;
                z-index: 99;
                position: relative;
                top: -55px;

                p {
                    color: $white;
                    margin: 0;
                    margin-bottom: 35px;
                    font-size: 1.1rem;
                }
            }

            .graph_box {
                align-items: flex-end !important;
                position: relative;
                z-index: 99;
                //top: 76px;
                height: 250px;
                //overflow: hidden;

                .graph {
                    margin: 0 auto;
                    color: $white;
                    position: relative;
                    height: 277px;
                    //overflow: hidden;
                    width: 100%;

                    .bar {
                        min-width: 37px;
                        width: 37px;
                        //height: 100px;
                        display: block;
                        background: $white;
                        margin: 0 auto;
                        opacity: .6;
                        position: absolute;
                        bottom: 36px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        max-height: 190px;

                    }

                    h2 {
                        background: rgba(255, 255, 255, 0.59);
                        color: darken($theme-color, 100%);
                        margin: 0;
                        font-size: 1.3rem;
                        border-radius: 3px;
                        width: 65px;
                        line-height: 28px;
                        font-weight: 500;
                        position: absolute;
                        top: 15px;
                        display: none;
                        left: 0;
                        right: 0;
                        margin: auto;
                        left: -12px;
                        //right: 0;
                        margin: 0 auto;
                    }

                    &.active {
                        h2 {
                            display: block;
                        }
                    }
                }

                p {
                    font-size: 1.1rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }


    .card {
        margin: 0;
        width: 100%;
        padding: 0 25px 30px 25px;

        .card-header {
            padding: 27px 0 21px 0;

            h2 {
                font-weight: 500;
                font-size: 1.7rem;
            }
        }

        .card-content {
            padding: 0;

            h4 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: lighten($gray, 10%);

            }

            h2 {
                color: $theme-color;
                font-weight: 600;
                padding-top: 5px;

                ion-icon {
                    font-size: 2rem;
                    margin-right: 10px;
                }

            }

            .row {
                margin: 0 -5px;
                padding-bottom: 5px;

                .button.btn {
                    background: none;
                    color: $theme-color;
                    border: 1px solid lighten($gray, 30%);
                    font-size: 1.2rem;
                    height: 35px;
                    font-weight: 600;

                    ion-icon {
                        color: $gray;
                    }
                }

            }

        }
    }
}
