<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'verification' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding-left padding-right>
        <img src="assets/imgs/logo.png" class="logo">
        <div class="active-stage" padding>
            <ion-row text-center>
                <ion-col class="active"><span><strong></strong></span></ion-col>
                <ion-col class="active"><span><strong></strong></span></ion-col>
            </ion-row>
        </div>
        <br>
        <p text-center padding>{{'enter_confirmation_code' | translate}}<br>{{'sent_to_you_via_sms' | translate}}</p>
        <div padding-top>
            <ion-list class="form">
                <ion-item class="bg-light">
                    <ion-input type="text" value="6543210" text-center></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button block class="bg-green text-white btn round shadow-green" (click)="tabs()">{{'next' | translate}}</button>
        </div>
    </div>
</ion-content>
