page-ratings {
    .header {
        .list {
            margin-bottom: 0;

            .item {
                padding: 0;
                background: none;
                width: 260px;
                margin: 0 auto;

                p {
                    margin: 0 !important;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.5rem;
                    letter-spacing: 1px;
                    width: 100px;

                    &.active {
                        color: $white;
                    }

                    &.disabled {
                        color: darken($theme-color, 20%);
                    }
                }

                .item-inner {
                    padding: 0;
                }

                .input-wrapper {
                    display: none;
                }

                ion-toggle {
                    .toggle-icon {
                        background: darken($theme-color, 17%) !important;

                        .toggle-inner {
                            background: $white !important;
                        }
                    }
                }
            }

        }
    }

    .rating_continer {
        background: darken($theme-color, 13%);
        display: block;
        overflow: hidden;

        p {
            &.title-head {
                position: relative;
                color: $white;
                font-size: 1.2rem;
                width: calc(100% - 47px);
                margin: 30px auto;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 1px;
                    background: $white;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    opacity: .5;
                }

                &::before {
                    left: 0px;
                }

                &::after {
                    right: 0px;
                }
            }
        }

        h1 {
            font-size: 6rem;
            font-weight: 300;
            color: $white;
            padding-bottom: 7px;
            padding-top: 7px;

            ion-icon {
                margin: 0 5px;
                color: $yellow_color;
                font-size: 5rem;
                position: relative;
                top: -4px;

            }
        }

        .rating_box {
            padding: 11px 26px 21px 26px;

            .rating {
                width: 100%;
                margin-bottom: 15px;

                p {
                    margin: 0;
                    color: $white;
                    font-size: 1.3rem;
                    margin-left: 14px;

                    &.rating-num {
                        min-width: 27px;
                        width: 27px;
                        display: flex;
                        margin: 0 !important;
                        margin-right: 10px !important;

                        ion-icon {
                            color: $yellow_color;
                            font-size: 1.5rem;
                            text-align: right;
                            display: block;
                        }
                    }

                }

                .rating_scale {
                    min-width: 78%;
                    background: dar;
                    display: block;
                    height: 10px;
                    background: darken($theme-color, 24%) !important;
                    position: relative;
                    overflow: hidden;

                    .rating_scale_active {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        background: $white;
                    }
                }

                &.active {
                    .rating_scale .rating_scale_active {
                        background: $yellow_color !important;
                    }
                }
            }

        }

    }

    .card {
        margin: 0;
        width: 100%;
        padding: 0 25px 30px 25px;

        .card-header {
            padding: 27px 0 21px 0;

            h2 {
                font-weight: 500;
                font-size: 1.7rem;
            }
        }

        .card-content {
            padding: 0;

            h4 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 500;
                color: lighten($gray, 10%);

            }

            h2 {
                color: $theme-color;
                font-weight: 600;
                padding-top: 5px;

                ion-icon {
                    font-size: 2rem;
                    margin-right: 10px;
                }

            }

            .row {
                margin: 0 -5px;
                padding-bottom: 5px;

                .button.btn {
                    background: none;
                    color: $theme-color;
                    border: 1px solid lighten($gray, 30%);
                    font-size: 1.2rem;
                    height: 35px;
                    font-weight: 600;

                    ion-icon {
                        color: $gray;
                    }
                }

            }

        }
    }
}
