<ion-header>
    <ion-navbar>
        <ion-list no-lines>
            <ion-item>
                <p item-start class="active" text-start>{{'offline' | translate}}</p>
                <ion-toggle checked="false"></ion-toggle>
                <p item-end class="disabled" text-end> {{'online ' | translate}}</p>
            </ion-item>
        </ion-list>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <div class="rating_continer">
        <p text-center class="title-head">{{'your_current_rating' | translate}}</p>
        <h1 text-center>
            <ion-icon name="md-star"></ion-icon>
            4.68
        </h1>
        <div class="rating_box">
            <div class="rating d-flex active">
                <p class="rating-num d-flex ">5 <ion-icon name="md-star" class="end"></ion-icon>
                </p>
                <div class="rating_scale">
                    <div class="rating_scale_active" style="width: 90%;">
                    </div>
                </div>
                <p>392</p>
            </div>
            <div class="rating d-flex">
                <p class="rating-num d-flex">4 <ion-icon name="md-star" class="end"></ion-icon>
                </p>
                <div class="rating_scale">
                    <div class="rating_scale_active" style="width: 60%;">
                    </div>
                </div>
                <p>189</p>
            </div>
            <div class="rating d-flex">
                <p class="rating-num d-flex">3 <ion-icon name="md-star" class="end"></ion-icon>
                </p>
                <div class="rating_scale">
                    <div class="rating_scale_active" style="width: 40%;">
                    </div>
                </div>
                <p>34</p>
            </div>
            <div class="rating d-flex">
                <p class="rating-num d-flex">2 <ion-icon name="md-star" class="end"></ion-icon>
                </p>
                <div class="rating_scale">
                    <div class="rating_scale_active" style="width: 30%;">
                    </div>
                </div>
                <p>50</p>
            </div>
            <div class="rating d-flex">
                <p class="rating-num d-flex">1 <ion-icon name="md-star" class="end"></ion-icon>
                </p>
                <div class="rating_scale">
                    <div class="rating_scale_active" style="width: 10%;">
                    </div>
                </div>
                <p>10</p>
            </div>
        </div>
    </div>


    <ion-card class="summery">
        <ion-card-header>
            <h2>{{'trip_summary' | translate}}</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-5>
                    <h4>{{'total_trips_yet' | translate}}</h4>
                    <h2 class="d-flex">
                        <ion-icon class="material-icons">directions_car</ion-icon>
                        870
                    </h2>
                </ion-col>
                <ion-col col-7>
                    <button ion-button icon-end block class="btn" (click)="mytrips()">{{'view_all_trips' | translate}}
                        <ion-icon class="material-icons">keyboard_arrow_right</ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
