<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'help' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg-light">
    <ion-list no-lines>
        <h2>{{'choose_your_issue' | translate}}</h2>
        <ion-item>
            <h3 class="d-flex">{{'trips_and_fare' | translate}}
                <ion-icon name="ios-arrow-down-outline" class="end"></ion-icon>
            </h3>
            <p>{{'any_issue_regarding_your_trip_and_fare' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <h3 class="d-flex">{{'Payment' | translate}}
                <ion-icon name="ios-arrow-down-outline" class="end"></ion-icon>
            </h3>
            <p>{{'problem_while_paying_fare_or_related_issue' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <h3 class="d-flex">{{'app_usability' | translate}}

                <ion-icon name="ios-arrow-down-outline" class="end"></ion-icon>
            </h3>
            <p>{{'any_issue_while_using_our_app' | translate}}
            </p>
        </ion-item>
        <ion-item>
            <h3 class="d-flex">{{'account' | translate}}
                <ion-icon name="ios-arrow-down-outline" class="end"></ion-icon>
            </h3>

            <p>{{'your_account_info_can_t_change_details_or_change_password' | translate}}
            </p>
        </ion-item>
    </ion-list>
</ion-content>
