<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'send_to_bank' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="banner bg-light" text-center>
        <h4>{{'available_balance' | translate}}</h4>
        <h1>$150.00</h1>
    </div>
    <ion-list no-lines class="form">
        <h2>{{'enter_bank_info' | translate}}</h2>
        <div class="form_container">
            <ion-item class="bg-light">
                <ion-label>{{'account_number' | translate}}</ion-label>
                <ion-input type="text" value="1122 3344 5566 7788" text-end></ion-input>
            </ion-item>
            <ion-item class="bg-light">
                <ion-label>{{'account_holder_name' | translate}}</ion-label>
                <ion-input type="text" value="Sam Smith" text-end></ion-input>
            </ion-item>
            <ion-item class="bg-light">
                <ion-label>{{'bank_code' | translate}}</ion-label>
                <ion-input type="text" value="XYZBANK001" text-end></ion-input>
            </ion-item>
        </div>
    </ion-list>

    <ion-list no-lines class="form">
        <h2>{{'enter_amount_to_transfer' | translate}}</h2>
        <div class="form_container">
            <ion-item class="bg-light">
                <ion-label>{{'enter_amount_to_transfer_in' | translate}}</ion-label>
                <ion-input type="text" value="$100" text-end></ion-input>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
<ion-footer no-border>
    <button ion-button block class="btn">{{'proceed' | translate}}</button>
</ion-footer>
