<ion-header class="bg-theme">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'my_trips' | translate}}</ion-title>
    </ion-navbar>
    <div class="bg-green">
        <ion-segment [(ngModel)]="tab">
            <ion-segment-button value="past" class="text-white">
                {{'past' | translate}}
            </ion-segment-button>
            <ion-segment-button value="upcoming" class="text-white">
                {{'upcoming' | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content class="bg-light">
    <div [ngSwitch]="tab">
        <ion-list no-lines *ngSwitchCase="'past'">
            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>


            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>


            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'upcoming'">
            <ion-item>
                <div class="driver_details d-flex">
                    <div class="driver_img">
                        <img src="assets/imgs/2.png">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            Today 8:21 am
                            <span class="end">$85.00</span>
                        </h2>
                        <h3 class="d-flex">
                            Suzuki Swift Dezire
                            <span class="end">Paid Via Wallet</span>
                        </h3>
                    </div>
                </div>
                <div class="from_to">
                    <div class="box from d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Newark Ave, Journla Square, Nj</p>
                    </div>
                    <div class="box to d-flex">
                        <ion-icon class="material-icons">fiber_manual_record</ion-icon>
                        <p> Sip Ave, Journla Square, Nj</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
