page-mytrips {

    .segment {
        padding-top: 10px;

        .segment-button {
            font-size: 1.4rem;
            color: lighten($gray, 100%);
            border-width: 0 !important;
            border-color: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            position: relative;
            opacity: 1;
            height: 45px;

            &.segment-activated {


                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 110px;
                    height: 5px;
                    display: block;
                    background: $white;
                    margin: 0 auto;
                }
            }
        }
    }

    .list {
        width: calc(100% - 10px);
        padding-top: 5px;
        margin: 0 auto;

        .item {
            padding: 0;
            margin-bottom: 6px;
            border-radius: 5px;
            box-shadow: 0 1px 21px 0px rgba(0, 0, 0, 0.1);

            .item-inner {
                padding: 0;

                .label {
                    margin: 0;
                    white-space: normal;

                    .driver_details {
                        padding: 13px 12px 15px 12px;

                        .driver_img {
                            min-width: 40px !important;
                            width: 40px !important;
                            height: 40px !important;
                            position: relative;
                            overflow: hidden;
                            border-radius: 7px;
                            margin-right: 10px;

                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: -50% !important;
                                right: -50% !important;
                                bottom: 0;
                                margin: auto;
                                border-radius: 0;
                            }

                        }

                        .text_box {
                            width: 100%;

                            h2 {
                                font-weight: 600;
                                font-size: 1.25rem;
                            }

                            h3 {
                                color: lighten($gray, 20%);
                                font-size: 1.2rem;
                                font-weight: 500;
                                padding-top: 5px;
                            }
                        }
                    }

                    .from_to {
                        border-top: 1px solid lighten($gray, 30%);
                        padding: 15px 12px 5px 12px;

                        .box {
                            align-items: flex-start !important;
                            position: relative;
                            padding-bottom: 10px;

                            ion-icon {
                                font-size: 1.8rem;
                                margin-right: 10px;
                                min-width: 18px;
                                position: relative;
                                z-index: 99;

                            }

                            p {
                                font-size: 1.2rem;
                                font-weight: 500;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            &.from {
                                ion-icon {
                                    color: $yellow_color;
                                }
                            }

                            &.to {
                                ion-icon {
                                    color: $theme-color;

                                }
                            }


                            &::before,
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 8px;
                                background: $gray;
                                width: 1px;
                                height: 50%;
                                display: block;
                                margin: auto;
                            }

                            &::after {
                                bottom: 0;
                                top: unset;
                            }

                            &:first-child {
                                &::before {
                                    display: none;
                                }
                            }

                            &:last-child {
                                &::after {
                                    display: none;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
