page-myprofile {

    .banner {
        position: relative;
        width: 100%;
        height: 264px;
        overflow: hidden;

        .banner_img {
            position: relative;
            width: 100%;
            height: 235px;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: -50% !important;
                right: -50% !important;
                bottom: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                border-radius: 0;
                max-width: unset;
            }
        }

        ion-icon {
            padding: initial;
            bottom: 0;
            position: absolute;
            z-index: 999;
            right: 21px;
            border-radius: 50%;
            background: $theme-color;
            color: $white;
            font-size: 2.8rem;
            width: 55px;
            text-align: center;
            height: 55px;
            line-height: 55px;
        }

    }

    .list {
        &.form {
            width: calc(100% - 30px);
            margin: 0 auto;

            .item {
                border: none !important;
                padding: 1px 18px 28px 18px;

                .item-inner {
                    .label {
                        font-size: 1.55rem;
                        color: lighten($gray, 10%);
                    }

                    ion-input .text-input {
                        font-size: 1.8rem;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}
