<ion-header class="bg-transparent">
    <ion-navbar>
        <ion-title>
            <ion-icon name="md-close" (click)="dismiss()" class="end"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="modal_container" text-center>
        <div class="rider_img">
            <img src="assets/imgs/2.png">
        </div>
        <div class="rider_details">
            <h2>Sam Smith</h2>
            <h3 class="text-theme">+19 987 654 362</h3>
        </div>
        <p class="d-flex"><span>4.8</span>
            <ion-icon name="md-star" class="active"></ion-icon>
            <ion-icon name="md-star" class="active"></ion-icon>
            <ion-icon name="md-star" class="active"></ion-icon>
            <ion-icon name="md-star" class="active"></ion-icon>
            <ion-icon name="md-star" class=""></ion-icon>
        </p>
    </div>
</ion-content>
<ion-footer no-border>
    <button ion-button block class="shadow-green btn">Call Sam</button>
</ion-footer>
