<ion-header>
    <ion-navbar>
        <ion-title>
            <small text-capitalize (click)="cancelride()">{{'cacel_ride' | translate}}</small>
            <span>Sam Smith</span>
            <small (click)="riderinfo()" class="end" text-capitalize>{{'info' | translate}}</small>
        </ion-title>
    </ion-navbar>
    <ion-list no-lines>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/2.png">
            </ion-avatar>
            <div class="text">
                <h3 class="text-light">{{'pick_up_from' | translate}}</h3>
                <h2>360 E 65th St, New York, NY 10065, USA</h2>
            </div>
            <div class="navigate" item-end>
                <ion-icon class="material-icons">navigation</ion-icon>
                <h3 class="text-light">{{'navigate' | translate}}</h3>
            </div>
        </ion-item>
    </ion-list>
</ion-header>

<ion-content>
    <div #map id="map" class="mymap"></div>
</ion-content>
<ion-footer no-border>
    <button ion-button block class="shadow-green btn" (click)="location()">{{'arrived' | translate}}</button>
</ion-footer>
