<ion-content (click)="dismiss()">
</ion-content>
<ion-footer no-border (click)="dismiss()">
    <ion-list no-lines>
        <h2>{{'why_are_you_cancling' | translate}}</h2>
        <ion-item>
            <h3>{{'rider_no_show' | translate}}</h3>
        </ion-item>
        <ion-item>
            <h3>{{'rider_requested_cancel' | translate}}</h3>
        </ion-item>
        <ion-item>
            <h3>{{'wrong_address_show' | translate}}</h3>
        </ion-item>
        <ion-item>
            <h3>{{'other' | translate}}</h3>
        </ion-item>
    </ion-list>
</ion-footer>
